<!DOCTYPE html>


<html>
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

    <title>my web</title>
    <style>
        select {
            padding: 30 30px 0 30px;
            border: 1px solid #AAA;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            outline: none;
        }
        
        button {
            padding: 30 30px 0 30px;
            border: 1px solid #AAA;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            outline: none;
        }
    </style>

</header>


<body>


    <p>heeeeeeeeeeeeeeeeeeeeeeeellllllllllllllllllllo</p>




</body>




</html>